div { 
    font-size: 18pt;
  color: #222222; 
}
p,h3 {
    font-family: Helvetica, Arial, sans-serif;
}
a{
font-size:large ;  
font-weight:   100;  



}
img{
    width: 20px; 
}


h1, h2 {
    margin-top: 0;
}